* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #151515;
    color: #f1f1f1b1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4a91e2df;
    color: #151515;
    padding: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

header h1 {
    display: inline-block;
    margin-bottom: 0.5em;
}

header a {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

.github-logo {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease-in-out;
}

.github-logo:hover {
    transform: scale(1.1);
}

main {
    flex: 1;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

section {
    margin-bottom: 2em;
}

h2 {
    margin-bottom: 1em;
    color: #4a90e2;
    font-size: 1.5em;
}

h3 {
    margin-bottom: 0.5em;
    color: #f1f1f1;
    font-size: 1.2em;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 1em;
}

pre {
    background-color: #f1f1f107;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    margin: 1em 0em;
    scrollbar-color: black;
}

pre::-webkit-scrollbar {
    width: 8px; 
    height: 10px;
}

pre::-webkit-scrollbar-track {
    background: #242424; 
}

pre::-webkit-scrollbar-thumb {
    background-color: #373737;
    border-radius: 6px; 
    border: 3px solid #383838;
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: #ff83c1;
}

footer {
    background-color:  #4a91e2df;
    color: #ffffffc6;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#heading-message{
    margin-bottom: 0.5em;
    color: #4a90e2;
    font-size: 1.5em;
}

#status-container {
    text-align: center;
    background-color: #191919;
    padding: 30px;
    margin:70px 0px 70px 10px;
    border-radius: 12px;
    border: solid rgba(0, 0, 0, 0.215);
}

#creator {
    margin-bottom: 2em;
    text-align: center;
}

.social-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.social-links li {
    display: inline-block;
}

.social-logo {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
    transition: transform 0.2s ease-in-out;
}

.social-logo:hover {
    transform: scale(1.1);
}

.social-links a {
    color: #ffffffc6;
    text-decoration: none;
    font-size: 1.2em;
}

.social-links a:hover {
    color: #4a90e2;
}

